{% extends 'base.html.twig' %}

{% block title %}New Invitation{% endblock %}

{% block body %}
<div class="white-panel">
    <h1 >Envoyer une Invitation</h1>


    {{ include('invitation/_form.html.twig', {'button_label': 'Envoyer'}) }}

    <a href="{{ path('app_invitation_index') }}">Retour sur la liste des invitations</a>
{% endblock %}
