<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            {% block head %}

                <style >
                    body{
                        font-family: 'Mukta', sans-serif;
                        height:100vh;
                        min-height:400px;
                        font-size: 20px;
                        background-repeat: no-repeat;
                        background-size:cover;
                        background-position:center;
                        position:relative;
                        overflow-y: hidden;
                    }

                    .login-reg-panel{
                        position: relative;
                        text-align:center;
                        width:90%;
                        right:0;left:0%;
                        margin:auto;
                        height:400px;
                        background-color: dodgerblue;
                    }
                    .white-panel{
                        background-color: rgba(255,255, 255, 1);
                        height:400px;
                        text-align:center;
                        position:absolute;

                        width:50%;
                        right:calc(35% - 50px);
                        transition:.3s ease-in-out;
                        z-index:5;
                        box-shadow: 0 0 15px 9px #00000096;
                    }
                    .table {
                        display: table;
                        border-collapse: collapse;
                        box-sizing: content-box ;
                        text-indent: initial;
                        border-spacing: 10px;
                        border-color: gray;
                    }
                    .login-reg-panel{
                        color:white;
                    }

                    a {
                        color: chocolate;
                    }


                </style>

            {% endblock %}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
